@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

a {
	text-decoration: none;
	display: block;
	color: black;
}

body {
	font-family: "Roboto Mono", monospace;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.header {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.header .social {
	display: flex;
	justify-content: flex-end;
	background-color: #47cfac;
}

.header .social .social__menu {
	list-style: none;
	display: flex;
}

.header .social .social__link {
	padding: 1.1875rem 1rem;
	color: white;
}

.header .social .social__link > .fab {
	font-size: 2rem;
}

.header .nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.header .nav .logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .nav .logo__item {
	width: 220px;
}

.header .nav .profile {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header .nav a.profile__link {
	font-size: 1.25rem;
	text-decoration: underline;
}

.main {
	background-image: url("../assets/img/cover.png");
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}

.main .content {
	grid-column: 2;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
}

.main .content__title {
	font-size: 3rem;
	font-weight: 700;
	color: white;
	letter-spacing: 10px;
	margin-bottom: 2rem;
}

.main .content__button {
	font-size: 1.25rem;
	padding: 1rem 1.5rem;
	background-color: #47cfac;
	font-weight: 700;
}
